.container-login {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  .header-login  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text-login{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.input-icon{
    margin: 0px 30px
}


  
  .underline {
    width: 50px;
    height: 5px;
    background: black;
    margin: auto;
    margin-bottom: 20px;
  }
  
  
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background: #fff;
  }
  
  .input-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .input-field {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .forgot-password span {
    color: blue;
    cursor: pointer;
  }
  
  .submit-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;

  }

  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  }

  .gray{
    background: #eaeaea;
    color: #676767;
  }